<!DOCTYPE html>
<html>
<head>
	<title>Edit Task</title>
	<!--Bootstrap-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!--Fonts-->
	<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='main.css')}}">
</head>
<body class="container p-4">
	<h1 class="display-4 text-center title mt-4">Edit Task</h1>
	<div class="row">
		<div class="col-md-4 offset-md-4 my-auto">
			<div class="card">
				<div class="card-header">
					<form action="/save-task/{{task.id}}" method="POST">
						<div class="form-group">
							<input type="text" value="{{task.content}}" name="content" class="form-control" autofocus>			
						</div>

						<button type="submit" class="btn btn-primary btn-block">Save</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>