{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html>
<head>
	<title>Task App</title>
	<!--Bootstrap-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!--Fonts-->
	<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='main.css')}}">
</head>
<body class="container p-4">
	<h1 class="display-4 text-center title mt-4">Task App</h1>
	<h2>Sign up</h2>
	<div class="row">
		<div class="col-md-4 offset-md-4 my-auto">
			<div class="card">
				<div class="card-header">
					<form action="/SignUp" method="POST">
						{{form.hidden_tag()}}
						{{wtf.form_field(form.user_name)}}
						{{wtf.form_field(form.password)}}
						{{wtf.form_field(form.email)}}												
						<button type="submit" class="btn btn-primary btn-block">Sign Up</button>
					</form>
				</div>						
			</div>
		</div>
	</div>
</body>
</html>